@import "../base/_base.scss";

.resume{
	position:relative;
	transition:all .3s linear .1s;
	transform:translateY(80px);
	z-index:1;
	opacity:0;
	&.show{
		transform:none;
		opacity:1;
	}
}

%inline-box{
	display:inline-block;
	width:100%;
}
%label-box{
	font-size:.26rem;
	color:#999;
}
%value-box{
	padding:8px 0;
	font-size:.26rem;
	color:#333;

}

.info-list{
	font-size:0;
	// padding:0;
	text-align:left;
	li{
		display:inline-block;
		padding:0 0 .3rem;
		width:33%;
		text-align:center;
		vertical-align:top;
		span,
		a{
			@extend %inline-box;
		}
		span{
			@extend %label-box;
		}
		a{
			@extend %value-box;
		}
	}
}

.label-box,
.value-box{
	@extend %inline-box;
}

.label-box{
	@extend %label-box;
}

.value-box{
	@extend %value-box;
}

.bold-label-box{
	@extend %inline-box;
	@extend %label-box;
	font-size:.26rem;
	color:#333;
	font-weight:bold;
}

.col-list{
	// margin:0 auto;
	// width:435px;
	text-align:left;
	li{
		padding:0 0 .4rem;
		.label-box{
			text-align:center;
		}
		.value-box{
			padding:0 .4rem;
		}
	}
}

.object-list{
	margin:0 auto;
	&>li{
		padding:0 0 1rem;
	}
}

.object-col-list{
	width:100%;
	font-size:0;
	overflow:hidden;
	// display:flex;
	li{
		padding: 0 0 .4rem;
		// flex:1;
	}
}
.subject{
	padding:.2rem 0;
	font-size:0;
	transform-style:preserve-3d;
	a{
		position:relative;
		display:inline-block;
		width:2rem;
		height:2rem;
		background-color:#845ee4;
		@include bg("subject-sprite.jpg",8rem 8rem)
		transition:all ease-out .2s;
		will-change:transform,box-shadow;
		@for $i from 1 through 16 {
			@if $i < 5 {
				&:nth-child(#{$i}){
					background-position:(-2rem * $i + 2rem ) 0;
				}
			}@else if $i >= 5 and  $i < 9{
				&:nth-child(#{$i}){
					background-position:(-2rem * $i + 10rem ) -2rem;
				}
			}@else if $i >= 9 and $i < 13 {
				&:nth-child(#{$i}){
					background-position:(-2rem * $i + 18rem ) -4rem;
				}
			}@else if $i >= 13 and $i <=16{
				&:nth-child(#{$i}){
					background-position:(-2rem * $i + 26rem ) -6rem;
				}
			}
		}
	}
}

.app-page{
	position:relative;
	padding:.2rem 0;
	height:4.4rem;
	font-size:0;
	transform-style:preserve-3d;
	perspective:3000;
	// overflow:hidden;
	a{
		position:absolute;
		top:.2rem;
		// left:0;
		display:inline-block;
		width:2.24rem;
		height:4rem;
		background-color:#845ee4;
		transition:all ease-out .2s;
		will-change:transform,box-shadow;
		@include bg("app-sprite.jpg",6.72rem 4rem)
		box-shadow: 0 0 .1rem 0 rgba(0, 0, 0, 0.2);
		&:nth-child(1){
			left:0;
			background-position:0 0;
			z-index:3;
		}
		&:nth-child(2){
			left:50%;
			margin-left:-1.12rem;
			background-position:-2.24rem 0;
			z-index:2;
		}
		&:nth-child(3){
			right:0;
			background-position:-4.48rem 0;
			z-index:1;
		}
	}
}

.object-col-list2{
	margin:0 auto;
	// width:860px;
	list-style:none;
	li{
		padding: 0 0 1rem;
		.value-box{
			text-align:left;
		}
	}
}

.col-img{
	margin:.1rem 0;
	// height:3.27rem;
	background-color:#53505a;
	// @include bg("object2.png",8.53rem 13.08rem);
	// @for $i from 1 through 5 {
	// 	&.img#{$i}{
	// 		background-position:center (-3.27rem * $i + 3.27rem);
	// 	}
	// }

	img{
		width:100%;
		vertical-align:middle;
	}
}

.col-img-list{
	margin:.1rem 0;
	padding:.2rem 0;
	height:3.27rem;
	background-color:#53505a;
}

.drag-img{
	img{
		width:100%;
	}
}

.col-img-item{
	display:inline-block;
	margin:.2rem .1rem;
	padding:.16rem 0;
	width:1rem;
	height:1rem;
	background-color:#2d8cf0;
	border-radius:50%;
	font-size:.2rem;
	color:#fff;
	vertical-align:middle;
	transition:all .2s linear;
	will-change:box-shadow;
}

.col-one-line{
	padding:.34rem 0;
}

.company{
	margin:0 auto;
	text-align:left;
	&>p{
		font-size:0;
	}
}
.company-logo{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	height:.9rem;
	&.logo1{
		@include bg("logo1.png",1.99rem .51rem,center center)
	}
	&.logo2{
		@include bg("logo2.png",contain,center center)
	}
	&.logo3{
		@include bg("logo3.png",contain,center center)
	}
}

.company-info{
	display:inline-block;
	vertical-align:middle;
	font-size:.3rem;
	color:#333;
	width:50%;
	text-align:left;
	.company-name{
		font-weight:bold;
		span{
			font-size:12px;
		}	
	}
}

.job-content-list{
	padding:10px 0 20px;
	// color:#666;
	font-size:.26rem;
	h5{
		font-size:.26rem;
		color:#999;
		padding:6px 0;
		// font-weight:bold;
	}
	li{
		line-height:2;
	}
}