@import "../base/_base.scss";

.work{
	position:relative;
	transition:all .3s linear .2s;
	transform:translateY(80px);
	z-index:1;
	opacity:0;
	&.show{
		transform:none;
		opacity:1;
	}
}

.title{
	padding: .28rem 0 0;
    font-size: .36rem;
    color: #845ee4;
    text-align:center;
}

.work-list{
	padding:0 .3rem .5rem;
	font-size:0;
	li{
		display:inline-block;
		position:relative;
		width:47%;
		// padding:0 .2rem;
		margin:.4rem 0;
		border-radius:10px;
		box-shadow: 0 .08rem .1rem 0 rgba(132, 94, 228, 0.2);
		transition:all .3s linear;
		will-change:box-shadow;
		&:nth-child(odd){
			margin-right:6%;
		}
	}
	.img-container{
		display:inline-block;
		position:relative;
		border:0;
		width:100%;
		// height:168px;
		// border-radius:10px 10px 0 0;
		overflow:hidden;
	}
	.href-container{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,.8);
		opacity:0;
		border-radius:10px 10px 0 0;
		transition:opacity .3s linear;
		will-change:opacity;
	}
	// a{
	// 	position:absolute;
	// 	top:50%;
	// 	border:2px solid #845ee4;
	// 	margin-top:-40px;
	// 	padding:6px 0;
	// 	width:80px;
	// 	height:80px;
	// 	font-size:42px;
	// 	color:#845ee4;
	// 	text-align:center;
	// 	border-radius:50%;
	// 	background:#fff;
	// 	transition:transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),background .3s linear,color .3s linear;
	// 	will-change:transform,background,color;
	// 	transform:translateY(180px);
	// 	&:first-child{
	// 		left:14px;
	// 	}
	// 	&:last-child{
	// 		right:14px;
	// 		transition-delay:.1s;
	// 	}
	// 	&:only-child{
	// 		left:50%;
	// 		margin-left:-40px;
	// 	}
	// }
	img{
		display:inline-block;
		border:0;
		width:100%;
		border-radius:10px 10px 0 0;
		transition:transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		will-change:transform;
	}
}
.work-img{
	display:inline-block;
	width:100%;
	height:168px;
}

.work-info{
	// position:absolute;
	// bottom:0;
	padding:.16rem .1rem ;
	// background-image:linear-gradient( 0deg,  rgba(0,0,0,.8) 0%, rgba(2,2,2,0.8) 75%, rgba(2,2,2,0) 100%);
	em{
		display:inline-block;
		padding:.1rem 0;
		width:100%;
		font-style:normal;
		font-size:.32rem;
		color:#666;
		@include ellipsis(100%);
	}
	span{
		display:inline-block;
		padding:0 .1rem 0 0;
		color:#999;
		font-size:.22rem;
	}
}
.more-btn {
	display:block;
	// margin:20px auto;
	// border: 1px solid rgb(132, 94, 228);
	// border-radius: 4px;
	padding:6px 0;
	width: 100%;
	// height: 30px;
	color:#fff;
	font-size:.26rem;
	text-align:center;
	background-color:rgb(132, 94, 228);
	box-shadow: 0px 4px 6px 0px rgba(132, 94, 228, 0.2);
	cursor:pointer;
}

